#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
@media (max-width: 768px) {
  #root {
    margin-top: -40px; /* Move further up for smaller screens */
  }
}

body.modal-open {
  padding-right: 0px !important;
}

Link {
  text-underline: None;
}

.nav {
  top: -80px;
}

@media (max-width: 768px) {
  .nav {
    top: 0;
  }
}
