#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
@media (max-width: 768px) {
  #root {
    margin-top: -10px;
  }
}

body.modal-open {
  padding-right: 0px !important;
}

a, Link, NavLink, .nav-link {
  text-decoration: none !important;
}

.nav {
  top: -80px;
}

@media (max-width: 768px) {
  .nav {
    top: 0;
  }
}
