html {
  overflow-y: scroll;
}

body {
  background: radial-gradient(
    circle,
    rgba(183, 238, 178, 1) 0%,
    rgba(97, 170, 89, 1) 63%,
    rgba(15, 117, 28, 1) 100%
  );
  padding-top: 60px;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}