html {
  overflow-y: scroll;
}

body {
  background: rgb(64, 133, 88) !important;
  padding-top: 60px;
}

@media (max-width: 768px) {
  body {
    padding-top: 0;
  }
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
