.custom-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-icon {
    width: 64px;
    height: 64px;
    background-size: cover;
    background-position: center;
    border-radius: 50%; /* Make the icon round */
    border: 2px solid white; /* Optional: Add a border */
  }

  .popup-image {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: Round the popup image corners */
  }