.feed-container {
  display: flex;
  flex-wrap: wrap;
}

.title-row {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 0;
}

.buttons-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .title-row {
    top: 60px;
  }
}

