
#userInfo {
  background-color: rgb(34, 37, 41);
}

#userPosts {
  background-color: rgb(72, 78, 84);
}
.profile-container {
  min-height: 80vh;
}

.bio-container {
  min-height: 32vh;
  overflow: auto;
}

.custom-tabs .nav-link {
  color: black;
}

.custom-tabs .nav-link.active {
  color: white !important;
}

.custom-tabs .nav-link:hover {
  color: gray;
}

.three-dots {
  position: absolute;
  right: 8px;
  top: 16px;
}

.popup-menu {
  position: absolute;
  right: 8px;
  background-color: #a02828;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2);
}

.logout-button {
  background: none;
  color: white;
  border: none;
  padding: 5px 10px;
}

.logout-button:hover {
  background-color: #942424;
}

.profile-circle {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.edit-button {
  margin-top: 1rem;
  width: 100%;
  color: #28a745;
}

.progress {
  background-color: gray !important;
}

.progress-bar {
  color: rgb(255, 255, 255) !important;
  overflow:initial !important;
}
