#description {
  min-height: 15vh;
}

.card-body {
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  -webkit-line-clamp: 3; 
  line-clamp: 3; 
  white-space: normal; 
  max-height: calc(
    1.2em * 4.5
  ); 
}

#description-modal {
  background-color: rgb(34, 37, 41);
  color: white;
  border-radius: 5px;
}

