.map-wrapper-fp {
  position: relative;
  width: 100%;
  height: 40vh;
  border-radius: 8px;
  overflow: hidden;
}

.map-container-fp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
