form {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

form p {
  color: red;
  font: bold 14px/1.5 Georgia, serif;
}

#form-container {
  background-color: rgb(13, 88, 13);
  padding: 20px;
}

.invalid-input {
  color: #d66868;
  font: bold 14px/1.5 Georgia, serif;
}
