form {
  color: #080808;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

form p {
  color: red;
  font: bold 14px/1.5 Georgia, serif;
}

.invalid-input {
  color: #d66868;
  font: bold 14px/1.5 Georgia, serif;
}
