.leaderboard-container {
  text-align: center;
  color: white;
}

.leaderboard-title {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 5px;
}

/* Layout for the leaderboard columns to display horizontally next to each other on pc. */
.leaderboard-columns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  max-width: 800px;
}

.leaderboard-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.leaderboard-entry {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #35495e;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.rank {
  font-weight: bold;
  color: yellow;
}

.username {
  flex: 1;
  text-align: left;
  margin-left: 10px;
}

.leaderboard-container a {
 color: #ffffff !important;
}

.leaderboard-container a:hover {
  color: #f9ca24 !important;
 }

.points {
  color: #f9ca24;
  font-weight: bold;
}

.animals {
  display: flex;
  justify-content: center;
}

.catch-more {
  font-size: 1rem;
  color: #f1c40f;
}

.cropped-image {
  max-height: 20vh;
  width: 100%;
  max-width: 800px;
  object-fit: cover;
}

/* Layout for the leaderboard columns on mobile, they are displayed as seemingly one column.*/
@media (max-width: 768px) {
  .cropped-image {
    max-width: 80%;
  }
  .leaderboard-columns {
    flex-direction: column;
    gap: 0;
  }
}
