ol {
    padding: 0;
    list-style: none;
}

ol li {
    margin: 5px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.medal{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    display: inline-block;
}

.rank{
    font-weight: bold;
    margin-right: 10px;
    margin-left: 6px;
    color: #555;
    display: inline-block;
}
