body {
  padding-bottom: 60px; /* Add padding equivalent to the height of the navbar */
}

@media (max-width: 768px) {
  body {
    padding-bottom: 70px; /* Adjust for mobile-specific navbar height */
  }
}

.footer-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(34, 37, 41);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.footer-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
}

.footer-nav-item:hover {
  color: #7b827b;
}

.create-post-icon {
  background: #28a745;
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.create-post-icon:hover {
  background: #218838;
}
