nav div {
  color: white;
  gap: 20px;
}

.dropdown-item:active {
  background-color: transparent !important;
}

.search-icon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-icon:hover {
  color: rgb(203, 203, 203);
}

.search-modal {
  background-color: rgb(34, 37, 41);
  color: white;
}

